<!DOCTYPE html>
<html>
  <head>
    <title>DevOpsCA </title>
  </head>
  <body>
    <h1>Joey's CA </h1>
    <ul>
      <li>Lunch</li>
      <li>Fruit</li>
      <li>Nuts</li>
      <li>More</li>
    </ul>
  </body>
</html>