<!DOCTYPE html>
<html>
  <head>
    <title>Updated </title>
  </head>
  <body>
    <h1><title><%= title %></h1>
    <ul>
      <li>gggggg</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>add more...</li>
    </ul>
  </body>
</html>